<div class="navbar-custom-new bg-white shadow">
  <div class="nav-align">
    <div class="row" style="margin-left: 16.75rem!important;">
      <div class="ml-2">
          <h5 class="mb-0">{{user|capfirst}}</h5>
          <h6 style="opacity: 0.5;" class="pt-0">Admin Dashboard | Home</h6>
      </div>
    </div>
    <ul class="list-unstyled topnav-menu ">
      <li class="dropdown notification-list">
        <a class="nav-link dropdown-toggle nav-user btn btn-lg waves-effect mr-2 mb-1" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
          <i class="dripicons-view-apps text-dark"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
            <!-- item-->
            <div class="dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome !</h6>
            </div>
            
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
              <i class="fe-user"></i>
              <span>My Account</span>
            </a>
            
            <!-- item-->
            <a href="{% url 'logout'%}" class="dropdown-item notify-item">
                <i class="fe-log-out"></i>
                <span>Logout</span>
            </a>

        </div>
      </li>
    </ul>
  </div>
</div>