{% load static %}
<div class="left-side-menu-new">
    <div class="containernew">
        <img src="{% static 'images/kart_logo.png'%}" alt="" width="90%" class="mb-4">
    </div>
    <div class="slimscroll-menu">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">
                <li style="margin-top: 6.5rem!important;">
                    <a href="javascript:void(0)">
                        <i class="fas fa-address-book  text-light"></i>
                        <span class="text-light"> Categories </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="fab fa-contao  text-light"></i>
                        <span class="text-light">Brands</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="fas fa-cart-plus  text-light"></i>
                        <span class="text-light">Products</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="fas fa-dollar-sign text-light"></i>
                        <span class="text-light">Offers</span>
                     
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class=" fas fa-user-check text-light"></i>
                        <span class="text-light">Sellers</span>
                     
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class=" fas fa-check-double  text-light"></i>
                        <span class="text-light">Orders</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="mdi mdi-poll text-light"></i>
                        <span class="text-light">Reports</span>
                    </a>
                </li>       
            </ul>
        </div>
    </div>
</div>